<header>
    <nav>
        <ul class="nav-list">
            <li><a href="/" class="nav-item">動画一覧</a></li>
            <li><a href="/contact" class="nav-item">お問い合わせ</a></li>
            <li><a href="/logout" class="nav-item">ログアウト</a></li>
        </ul>
    </nav>
</header>
